.room-info {
  border: 1px solid #ccc;
  padding: 20px;
}

.room-name {
  font-size: 22px;
  margin: 0;
}

.room-description {
  font-size: 18px;
  color: #666;
}

.room-creator {
  font-size: 16px;
  margin: 10px 0;
}

.user-name {
  font-weight: bold;
}

.room-created-time {
  font-size: 14px;
  color: #999;
}
