<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='side.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='content.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='rooms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index_page.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/scripts.js') }}" defer></script>
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% block nav_bar %}
    <header>
        <div id="logo-box">
            <a href="/rooms" class="class="d-inline-block align-top rounded-circle""><img id="logo" src="{{ url_for('static', filename='images/logo') }}" alt="logo"></a>
        </div>
        <div id="nav">
            <ul style="list-style-type: none;" class="nav-list">
                <li><a href="{{ url_for('rooms') }}"><strong>Rooms</strong></a></li>
                <li><a href="{{ url_for('about') }}"><strong>About</strong></a></li>
                <li><a href="{{ url_for('logout') }}"><strong>Logout</strong></a></li>
                <li><a href="{{ url_for('profile') }}"><strong>Profile</strong></a></li>
            </ul>
        </div>
    </header>
    {% endblock nav_bar %}
	{% block content %}{% endblock content %}
</body>
</html>